<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nest Tutorial With Fastify</title>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css">
</head>
<body>
  <main>
    <div>
      <h1 class="siimple-h1">{{message}}</h1>
    </div>
    <div>
      <h1 class="siimple-h1">{{message_with_name}}</h1>
    </div>
  </main>
</body>
</html>